<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IQEDUDO.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>22</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>405D21193C8B27A8D71BC99981D410572CAA6E07</string>
				<key>dateExpires</key>
				<string>26/04/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>405D21193C8B27A8D71BC99981D410572CAA6E07</string>
						<key>dateExpires</key>
						<string>26/04/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA63FGZY7C</string>
						<key>name</key>
						<string>Editorial Kuepa SAS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LA63FGZY7C.org.kuepa.iqapp</string>
				<key>com.apple.developer.game-center</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>LA63FGZY7C</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>IQEDUDO.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bdf6bff4-518e-4cad-b6b6-1230ce107f2b</string>
				<key>dateExpires</key>
				<string>26/04/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.kuepa.iqapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LA63FGZY7C</string>
				<key>name</key>
				<string>Editorial Kuepa SAS</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5</string>
		</dict>
	</array>
</dict>
</plist>
